# Copy to setup.env and adjust credentials for shared deployment
export MLFLOW_TRACKING_URI=http://localhost:5000
export BACKEND_STORE_URI=sqlite:///$(pwd)/tracking/mlflow/mlflow.db
export ARTIFACT_ROOT=$(pwd)/tracking/mlflow/mlruns
export MLFLOW_S3_ENDPOINT_URL=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
